body {
    font-family: Arial, sans-serif;
    background-color:rgb(116, 103, 103);
}

.invertido{
  transform: scaleX(-1);
}

.divMeio {
  display: flex;
  justify-content: center;
  font-family: "Copperplate", "Copperplate Gothic Light", fantasy;
  color:rgb(217, 255, 0);
  font-weight: bold;
  font-size: 45px;
  text-align: center;
}